* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif !important;
}

.footer {
  height: 100px;
  font-size: 20px;
  text-align: center;
}

.flexContainer{
  display: flex;
  flex-direction: column;
}

.title {
  padding: 20px;
  /* border: solid; */
  text-align: left;
}

.Text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.Text2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
}

.imageText {
  font-size: 30px;
  text-align: center;
  padding: 50px;
}

.aboutText {
  font-size: 30px;
  text-align: left;
  padding: 50px;
}

.reviewText {
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.morePadding{
  padding: 30px;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.textEdit {
  text-align: center;
}

.image img {
  width: 100%;
  object-fit: contain;
  padding: 40px;
}

img {
  width: 50%;
}

h3 {
  text-align: left;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  padding: 20px 0 20px 10px;

  margin-top: 1px;
  margin-bottom: 1px;
}

.picture {
  display: flex;
  justify-content: flex-end;
}

.mainInfo{
  display: flex;
  flex-wrap: wrap;
}



/* Phone Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 50%;
    }
}

/* Desktop Styles
@media only screen and (min-width: 961px) {
  .page {
      width: 960px;
      margin: 0 auto;
    }
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 33.3%;
    }
    .header {
      height: 400px;
    }
}
*/
